paquetes/npm/node_modules
paquetes/npm/package-lock.json
paquetes/npm/utiles/node_modules
paquetes/npm/utiles/package-lock.json
herramientas/automatizacion/node_modules
herramientas/electron/node_modules
herramientas/electron/package-lock.json